/* Generic Selectors -------------------------------------------------------- */

* {
  font-family: Segoe UI, Helvetica Neue, Arial, sans-serif;
  color: #202020;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAB3RJTUUH6QISBhYWkY5QqgAAABd0RVh0U29mdHdhcmUAR0xEUE5HIHZlciAzLjRxhaThAAAACHRwTkdHTEQzAAAAAEqAKR8AAAAEZ0FNQQAAsY8L/GEFAAAABmJLR0QA/wD/AP+gvaeTAAAAHUlEQVR4nGN4+/btT3IBw6jmUc2jmkc1U0Uz2QAAhmqJ8RyeIMYAAAAASUVORK5CYII=);
}

p {
  font-size: 0.9rem;
  text-align: center;
}

a {
  color: #1f2328;
}

a:hover {
  color: #0969da;
}

h1 {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 600;
  color: #1f2328;
}

h2 {
  margin-top: 4px;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: italic;
  border-bottom: 1px solid lightgray;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

td, th {
  padding: 0.25rem;
  font-size: 0.8rem;
  color: #1f2328;
  border: 1px solid darkgray;
}

tr:hover td, tr:hover th {
  background-color: #f0f0f0;
}

th {
  background-color: #f8f8f8;
  text-align: left;
}

td:first-child {
  width: 35%;
}

/* Main Elements ------------------------------------------------------------ */

.wrapper {
  width: max-content;
  min-width: 480px;
  margin: 16px auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.sub-wrapper {
  padding: 0.5rem 2rem;
}

.game-container {
  text-align: center;
}

#mintcrate-target {
  padding: 8px;
  border: 1px solid darkgray;
}

.scale-btn {
  width: 2.5rem;
  height: 1.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  background-color: #f8f8f8;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.scale-btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.scale-btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.scale-btn:hover {
  background-color: #f0f0f0;
}

.scale-btn:active {
  background-color: #e8e8e8;
}

/* Atomic Classes ----------------------------------------------------------- */

.lighter {
  font-size: 0.75rem;
  color: #59636e;
}